include ../shared/header
include ../shared/navbar
block content
    h1 #{title}
    a.btn.btn-success.token-exp(href="/token-exp") Set Token Lifetime
    table.table.table-striped.table-hover
        tr
            th #
            th Token
            th.hidden-sm.hidden-xs Object Type
            th.hidden-sm.hidden-xs Object ID
            th.hidden-xs Lifetime
            th.hidden-md.hidden-sm.hidden-xs Expired Date
            th.hidden-xs Scope
            th Status
            th Operation
            //- var titles=["#","Token","Refresh Token","Object Name","Object Type","Created Date","Lifetime","Expired Date","Scope","Status","Operations"]
            //each title in titles
                th(style="padding:3px 10px") #{title}
        tbody
            each token, i in tokenList
                if(title === "Tokens PAT")
                    -var url = "token_pat"
                if(title === "Tokens AAT")
                    -var url = "token_aat"
                if(title === "Tokens RPT")
                    -var url = "token_rpt"
                form#formToken(name="token",method="post",action="/#{url}/#{token._id}?_method=DELETE")
                    tr
                        td #{i+1}
                        td(style="max-width:200px;overflow:hidden;text-overflow:ellipsis") #{token.token}
                        td.hidden-sm.hidden-xs #{token.object_type}
                        td.hidden-sm.hidden-xs #{token.object_id}
                        td.hidden-xs #{token.lifetime}
                        td.hidden-md.hidden-sm.hidden-xs #{token.expiredDate}
                        td.hidden-xs(style="max-width:200px;overflow:hidden;text-overflow:ellipsis") #{token.scope}
                        //- var tokens=[i+1,token.token,token.refreshToken,token.object_name,token.object_type,token.createdDate,token.lifetime,token.expiredDate,token.scope]
                        //each token in tokens
                            td(style="max-width:200px;overflow:hidden;text-overflow:ellipsis") #{token}
                        if (today > token.expiredDate)
                            td expired
                        else
                            td active
                        td
                            //a.btn.btn-success(href="/token/#{token._id}" style="margin-bottom:5px;") Refresh
                            button#btnSubmit.btn.btn-danger(type="submit" style="width:76px;" onclick="return confirm('Are you sure to delete this token?');") Delete
include ../shared/footer
//
   Created by nmu on 01/04/2015.

